# ==========================================
# Python
# ==========================================

# Bytecode
__pycache__/
*.py[cod]

# ==========================================
# Pytest
# ==========================================

.pytest_cache/

# ==========================================
# Cobertura de testes
# ==========================================

.coverage
.coverage.*
htmlcov/

# ==========================================
# Ambiente virtual
# ==========================================

.venv/
venv/
env/

# ==========================================
# IDEs
# ==========================================

.vscode/
.idea/

# ==========================================
# Arquivos do sistema
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Variáveis de ambiente
# ==========================================

.env

# ==========================================
# Distribuição
# ==========================================

build/
dist/
*.egg-info/